% This file is managed by ansible.

% Restrict the inter-cluster communication interface as we don't cluster.
[
 {kernel,[
  {inet_dist_use_interface,{ {{ loopback_ip | replace('.', ',') }} } }
 ]}
].
