# This file is managed by ansible
debci_suite_list='{{ debci_suites.keys() | sort | join(" ") }}'
debci_arch_list='{{ debci_suites.values() | sum(attribute="architectures", start=[]) | sort | unique | join(" ") }}'
debci_backend_list='{{ debci_suites.values() | map(attribute="backend") | sort | unique | join(" ") }}'
