"""Site-specific settings

This is the file that you should edit to customize the setting of your
Distro Tracker installation. By default it imports settings from the ``selected.py``
file which is a symlink to the type of installation to you have
(typically, ``production.py`` or ``development.py``) and lets you add
overrides on top of those type-of-installation-specific settings.
"""

from . import defaults
from .selected import *

DISTRO_TRACKER_FQDN = "{{ distro_tracker_fqdn }}"
DISTRO_TRACKER_CONTACT_EMAIL = "{{ distro_tracker_contact_email }}"

INSTALLED_APPS = defaults.INSTALLED_APPS.copy()

## Add your custom settings here
{{ distro_tracker_custom_settings }}
