#!/bin/sh

date_limit=$(date +%Y%m%d -d "2 months ago")

find {{ rebuildd_homedir }}/morgue -mindepth 1 -maxdepth 1 -type d | sort | (while read dir; do
	date_dir=$(basename $dir)
	if [ "$date_dir" -lt "$date_limit" ]; then
		echo "Removing $dir"
		rm -rfv "$dir"
	fi
done)
