#!/bin/sh

set -e

email="{{ rebuildd_email }}"

export GNUPGHOME="{{ rebuildd_homedir }}/.gnupg"
unset XDG_RUNTIME_DIR

if [ ! -d "$GNUPGHOME" ]; then
	# Implicitly creates {{ rebuildd_homedir }}/.gnupg
	gpg --list-keys >/dev/null
fi

if which gpgconf >/dev/null 2>&1; then
	use_gpgconf="yes"
fi

start_agent() {
	if [ "$use_gpgconf" = "yes" ]; then
		gpgconf --launch gpg-agent
	fi
}

stop_agent() {
	if [ "$use_gpgconf" = "yes" ]; then
		gpgconf --kill gpg-agent
	fi
}

gen_key() {
	gpg --batch --gen-key <<EOF
%echo Generating {{ rebuildd_user }}'s GPG key...
%no-protection
Key-Type: RSA
Key-Length: 2048
Key-Usage: sign
Name-Real: Build Daemon
Name-Email: $email
Expire-Date: 0
%commit
%echo done
EOF
}

start_agent

if ! gpg --list-secret-keys $email >/dev/null; then
	gen_key
fi

KEYID=$(gpg --list-secret-keys --with-colons $email | grep ^fpr | head -n 1 | cut -d : -f 10)

if ! test -e {{ rebuildd_homedir }}/.devscripts; then
	echo -n "Creating {{ rebuildd_homedir }}/.devscripts... "
	echo "DEBSIGN_KEYID=0x$KEYID" >{{ rebuildd_homedir }}/.devscripts
	echo "done"
fi

stop_agent
